* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-alert{
  text-align: center;
  margin-top: 50px;
  margin-bottom:50px;
}

@import "./partials/header";
@import "./partials/footer";
@import "./partials/jumbotron";
@import "./partials/comics";